<div class="container">
    <div class="row">
       <div class="col-lg-8 posts-list center">
          <div class="single-post">

            <button routerLink="/home" style="float: right;" class="btn btn-primary" name="back" >back</button>
            <button (click)="delete()" style="float: left;" class="btn btn-primary" name="supprimer" >supprimer</button>

             <div class="feature-img">
                <img class="img-fluid" src="assets/img/feature_post_3.png" alt="">
             </div>
             <div class="blog_details">
                <h2 style="text-align: center;">{{article.title}}
                </h2>
                <ul class="blog-info-link mt-3 mb-4">
                
                    
                </ul>
                <p class="excert">
                   {{article.description}}
                </p>
                
                
             </div>
          </div>
          
          
          
       </div>
       
    </div>
 </div>