

  <form [formGroup]="myForm" class="example-form" (ngSubmit)="onSubmit()">
    <div [hidden]="isAuth || isAuth==null" >
      <h4 class="text-danger">  name or password is incorrect</h4>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput  required type="text" placeholder="Name" formControlName="name">
      
    </mat-form-field>
    

    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" type="password"  required formControlName="password">
        
        

    </mat-form-field>

    
    <div class="button-wrapper">
        <button mat-flat-button style="margin-bottom: 20px;" class="btn btn-primary">Submit</button>
      </div>

      <ul class="login-more p-t-190">
						

        <li>
            <span class="txt1">
                Don’t have an account?
            </span>
    
            <a routerLink="/register" class="txt2">
                register
            </a>
        </li>
    </ul>
  </form>
  
 
  